<br>
<img src="{{collection.image | img_url: "1024x250" }}" class="w-100" alt="Responsive image">
<br>
<section class="text-center">
  
  <br>
  <h1>{{ collection.title }}</h1>
  <p>{{ collection.description }}</p>

  <select id="sort-by" class="form-select w-25 mx-auto" aria-label="Default select example">
    <option selected disabled>Sort by</option>
    {% assign sort_by = collection.sort_by | default: collection.default_sort_by %}
    {% for option in collection.sort_options %}
      <option
        value="{{ option.value }}"
        {% if option.value == sort_by %}
          selected="selected"
        {% endif %}
      >
        {{ option.name }}
      </option>
    {% endfor %}
  </select>

  <br>
  <br>
  {% paginate collection.products by 8 -%}
    <div class="collection-group">
      {% for product in collection.products %}
        {% render 'product-item', product: product %}
      {% endfor %}
    </div>
    <br>
    <br>
    {% if collection.all_products_count > 8 %}
      {% render 'pagination-custom', paginate: paginate %}
    {% endif %}
  {%- endpaginate %}
</section>

<script>
  Shopify.queryParams = {};
  // Preserve existing query parameters
  if (location.search.length) {
    var params = location.search.substr(1).split('&');
    for (var i = 0; i < params.length; i++) {
      var keyValue = params[i].split('=');
      if (keyValue.length) {
        Shopify.queryParams[decodeURIComponent(keyValue[0])] = decodeURIComponent(keyValue[1]);
      }
    }
  }
  // Update sort_by query parameter on select change
  document.querySelector('#sort-by').addEventListener('change', function (e) {
    var value = e.target.value;
    Shopify.queryParams.sort_by = value;
    location.search = new URLSearchParams(Shopify.queryParams).toString();
  });
</script>
